table, th, td {

}

body{
    background-image: url("images/futurama_back.jpg");
    background-size: 100% 100%;
}

#menu_leftnav{
    background-color: #66CCFF;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.3;
}

#content_body{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.8;
}

#page_header{
    background-color: #66CCFF;
    border-radius: 20px;
    opacity: 0.8;
}

#footer{
    background-color: black;
    color: #66CCFF;
}

