table, th, td {

}

html{
    background: url("images/futurama_back.jpg") no-repeat center center fixed;
    background-size: cover;
}

.menu{
    margin:0;
    padding:0;
    width:150px;
    list-style:none;
    background:rgb(255,255,255);
}
.menu li{
    padding:0;
    margin:0 0 1px 0;
    height:40px;
    display:block;
}
.menu li a{
    text-align:left;
    height:40px;
    padding:0px 25px;
    font:16px Verdana, Arial, Helvetica, sans-serif;
    /*color:rgb(255,255,255);*/
    color: black;
    display:block;
    background:url('images/menu/verMenuImages.png') 0px 0px no-repeat;
    text-decoration:none;
}
    .menu li a:hover{
    background:url('images/menu/verMenuImages.png') 0px -40px no-repeat;
    color:rgb(255,255,255);
}
    .menu li a.active, .menu li a.active:hover{
    background:url('images/menu/verMenuImages.png') 0px -80px no-repeat;
    color:rgb(255,255,255);
}
.menu li a span{
    line-height:40px;
}

/* Specific Styles */
#content_body{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.9;
}
.content_body{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    opacity: 0.9;
}

#page_header{
    background-color: #66CCFF;
    border-radius: 20px;
    opacity: 0.8;
}

#footer{
    background-color: black;
    color: #66CCFF;
}

a.bot-link:link{
  font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
  color: black;
  background-color: #99CCFF;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 0.7% 2.0%;
  text-decoration: none;
  margin-left: 0;
  margin-top: 0px;
  margin-bottom: 5px;
  border: 1px solid #000066;
  border-radius: 5px;
  white-space: nowrap;
  float: right;
}

.prices td{
    font-weight: bold;
    border: 1px solid black;
}
